*{
    padding: 0;
    margin: 0;
}
body{
    background:#c2c1bc;
    
}
nav ul {
    display:flex ;
    justify-content:space-between ;
    align-content:space-between ;
    align-items:center ;
    list-style:none;
    padding:20px;
    

}
.logo img{
    width:100px ;
    height:50px ;
    padding:0.2em;
    border:0.2em solid black;
}
nav ul li{
  margin:0 20px;
  font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
 a:hover{
    color: #ff8000;
}
#header{
    width:100vw;
    height:70vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    
}
#header h1
{
text-align: center;
position:absolute;
color:black;
font-size: 40px;
font-weight:bolder ;
background-color: aliceblue;

}
#header h2
{
text-align: center;
position:absolute;
color:black;
font-weight:bolder ;
background-color: aliceblue;
margin-top: 90px;

}
#cafe
{
    height:70vh;
    width: 100vw;
   
}

#about{
    padding:80px ;
    display: flex;
    column-gap: 100px;
}
 #about article h1,h2,p {
    margin:20px;
}

#contact{
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
}
#input{
   line-height: 2em;
    width: 18em;
    border-radius:3px;
    border-color: black;
    margin: 10px;

}
#contact form{
    margin-top: 30px;
    width: 50px;
}
#contact form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
#cafeteria
{
    width: 40vw;
    height: 40vh;
}
#drinks
{
    background-color: black;
    color:white ;
    display: flex;
    flex-direction: row;

}

#dr-img
{
    width: 40vw;
    height: 40vh;
    padding: 30px;
}
#dr-writing
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 200px;

}
#food
{
    display: flex;
    flex-direction: row;

}
#fo-img
{
    width: 40vw;
    height: 40vh;
    padding: 20px;
}
#fo-writing

{
    display: flex;
    flex-direction: column; 
    text-align: center; 
    margin-left: 200px;
   
    
}
#about h3
{
    margin-left: 20px;
}
#esp,#cre,#cof,#ice,#tea,#fea,#swe,#sav,#san,#des
{
  border-color: #ff8000;
  font-size: 20px;
}
#delivery
{
    background: black;
    color:white;
}
 #order-nav ul {
    display:flex ;
    justify-content:space-between ;
    align-content:space-between ;
    align-items:center ;
    list-style:none;
    padding:20px;
}
 #order-nav ul li{
    margin:0 20px;
    font-weight: bold;
  }
 #order-nav ul li a{
      text-decoration: none;
      color:white;
  }
 #order-nav a:hover{
      color: #ff8000;
  }
  #order
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #box1,#box2,#box3,#box4
  {
    width:400px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
   
  }
  #delivery2 
  {
    text-align: center;
    margin-bottom: 10px;
    color: #ff8000;
    margin-right: 10px;
  }
  #fea-dr,#fea-foo,#menu{
    color: #ff8000;
  }
  #drinks1,#drinks2,#drinks3,#drinks4,#drinks5
  {
    display: flex;
    flex-direction:column;
  }
  #cool
  {
    display: flex;
    flex-direction:row;
  }
  #cool hr
  {
    height: 90vh;
    margin: 0px 20px 0px 20px;
  }
  #drinks1 h3
  {
   margin-bottom:20px;
  }
  #drinks2 h3
  {
   margin-bottom:20px;
  }
  #drinks3 h3
  {
   margin-bottom:20px;
  }
  #drinks4 h3
  {
   margin-bottom:10px;
  }
  #drinks5 h3
  {
   margin-bottom:10px;
  }
  #espr
  {
   margin-bottom:20px;
  }
  #frap-1
  {
   margin-bottom:20px;
  }
  #frap-2
  {
   margin-bottom:20px;
  }
  #sha
  {
   margin-bottom:20px;
  }
  #teav
  {
   margin-bottom:20px;
  }
  #lat
  {
   margin-bottom:20px;
  }
  #amer
  {
   margin-bottom:20px;
  }
  #fea-foo
  {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  #Food1,#Food2,#Food3,#Food4,#Food5,#Food6,#Food7,#Food8,#Food9,#Food10,#Food11,#Food12,#Food13
  {
    display: flex;
    flex-direction:column;
  }
  #hot,#hot1,#hot2
  {
    display: flex;
    flex-direction:row;
  }
  #hot hr
  {
    height: 30vh;
    margin: 0px 20px 0px 20px;
  }
  #hot1 hr
  {
    height: 30vh;
    margin: 0px 20px 0px 20px;
  }
  #hot2 hr
  {
    height: 60vh;
    margin: 0px 20px 0px 20px;
  }

  #Food1 h3
  {
   margin-bottom:20px;
  }
  #Food2 h3
  {
   margin-bottom:20px;
  }
  #Food3 h3
  {
   margin-bottom:20px;
  }
  #Food4 h3
  {
   margin-bottom:10px;
  }
  #Food5 h3
  {
   margin-bottom:10px;
  }
  #Food6 h3
  {
   margin-bottom:10px;
  }
  #Food7 h3
  {
   margin-bottom:10px;
  }
  #Food8 h3
  {
   margin-bottom:10px;
  }
  #Food9 h3
  {
   margin-bottom:10px;
  }
  #Food10 h3
  {
   margin-bottom:10px;
  }
  #Food11 h3
  {
   margin-bottom:10px;
  }
  #Food12 h3
  {
   margin-bottom:10px;
  }
  #Food13 h3
  {
   margin-bottom:10px;
  }
  #sal
  {
   margin-bottom:10px;
  }
  #pas
  {
   margin-bottom:10px;
  }
  #cak
  {
   margin-bottom:10px;
  }
  #cook
  {
   margin-bottom:20px;
  }
  #muff
  {
   margin-bottom:20px;
  }
  #cro
  {
   margin-bottom:20px;
  }
  #chik
  {
   margin-bottom:20px;
  }
  #pann
  {
   margin-bottom:20px;
  }
  #chee
  {
   margin-bottom:20px;
  }
  #sww
  {
    margin-bottom:20px;
   }
   #dess
   {
     margin-bottom:20px;
   }
   #affa
   {
     margin-bottom:20px;
   }
   #parr
   {
     margin-bottom:20px;
   }
   #hot1
   {
    margin-top: 90px;
   }
   #hot2
   {
    margin-top: 90px;
   }
   #confirmation
   {
    margin-top: 50px;
    height: 5vh;
   }